<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('Super Admin')"></head>
<body>
<nav th:replace="fragments/navbar :: topNavbar('superadmin')"></nav>
<div class="container">
    <div th:if="${message !=null}" class="alert alert-success alert-dismissible fade show">
        <span th:text="${message}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="d-flex align-items-center justify-content-between" style="margin-top: 40px;">
        <h1>Lista Foto</h1>
        <form th:action="@{/superadmin}" method="GET">
            <div class="input-group">
                <input
                        type="text"
                        placeholder="Cerca per titolo"
                        class="form-control" name="search"
                        th:value="${param.search}"
                >
                <button class="btn btn-light" style="border: 1px solid black;" type="submit">Cerca</button>
            </div>
        </form>
    </div>

    <div th:if="${photoList.empty}" class="alert alert-info" style="margin-top: 30px;">
        <h2>Nessuna foto presente in lista.</h2>
    </div>

    <div class="d-flex align-items-center flex-wrap" style="gap: 20px; margin: 30px 0;">
        <div th:each="photo : ${photoList}" class="card" style="width: calc(100% / 3 - 15px); height: 380px;">
            <img th:if="${photo.cover == null}" th:src="${photo.url}" class="card-img-top" th:alt="${photo.title}"
                 style="max-height: 200px; object-fit: cover;">
            <img th:unless="${photo.cover == null}" th:src="@{/files/cover/{photoId}(photoId=${photo.id})}"
                 class="card-img-top" th:alt="${photo.title}"
                 style="max-height: 200px; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title" th:text="${photo.title}"></h5>
                <p class="card-text" th:text="${photo.description}" style="overflow-y: auto; height: 60px;"></p>
            </div>
            <div class="d-flex justify-content-evenly" style="margin-bottom: 20px;">
                <a th:if="${!photo.visible}" th:href="@{/superadmin/showPhoto/{id}(id=${photo.id})}"
                   class="btn btn-primary">Visualizza</a>
                <a th:if="${photo.visible}" th:href="@{/superadmin/hiddenPhoto/{id}(id=${photo.id})}"
                   class="btn btn-dark">Nascondi</a>
            </div>
        </div>
    </div>
</div>
<script th:replace="fragments/resources :: jsResources"></script>
</body>
</html>