<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<body>
<nav th:fragment="topNavbar(area)" class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">

    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:classAppend="${area == 'photos' ? 'active' : ''}"
                       th:href="@{/photos}">Foto</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link" th:classAppend="${area == 'categories' ? 'active' : ''}"
                       th:href="@{/categories}">Categorie</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link" th:classAppend="${area == 'messages' ? 'active' : ''}"
                       th:href="@{/messages}">Messaggi</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link" th:classAppend="${area == 'users' ? 'active' : ''}"
                       th:href="@{/users}">Utenti</a>
                </li>
            </ul>
            <div class="text-light">
                <span sec:authentication="name" style="margin-right:15px; color: black;"></span>
                <a th:href="@{/logout}" class="btn btn-dark">Logout</a>
            </div>
        </div>
    </div>
</nav>
</body>
</html>