<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('Category List')"></head>
<body>
<nav th:replace="fragments/navbar :: topNavbar('categories')"></nav>
<div class="container">
    <div th:if="${message !=null}" class="alert alert-success alert-dismissible fade show">
        <span th:text="${message}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div th:if="${messageFailed !=null}" class="alert alert-danger alert-dismissible fade show">
        <span th:text="${messageFailed}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <h1 style="margin-top: 40px;">Lista Categorie</h1>
    <div>
        <form
                id="category-form"
                th:action="@{/categories}"
                method="POST"
                th:object="${categoryObj}"
        >
            <h3 style="position: relative; top: 20px; color: white;">Inserisci nome categoria</h3>
            <div class="d-flex align-items-center" style="margin-bottom: 30px;">
                <div th:insert="fragments/components :: formField('text', '', 'name')"></div>
                <button class="btn btn-primary" type="submit" style="position: relative; top: 12px;">+</button>
            </div>
        </form>
    </div>

    <div th:if="${categoryList.empty}" class="alert alert-info" style="margin-top: 30px;">La lista deglle categorie è
        vuota
    </div>

    <table class="table" th:if="${not categoryList.empty}" style="width: 50%;">
        <thead>
        <th>Nome categoria</th>
        </thead>
        <tbody>
        <tr th:each="category : ${categoryList}">
            <td class="d-flex justify-content-between align-items-center">
                <div th:text="${#strings.capitalize(category.name)}"></div>
                <div>
                    <form method="POST" th:action="@{/categories/delete/{id}(id=${category.id})}"
                          onsubmit="return confirm('Sei sicuro?')">
                        <button type="submit" class="btn btn-dark">
                            <i class="fa-solid fa-trash"></i>
                            Elimina
                        </button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script th:replace="fragments/resources :: jsResources"></script>
</body>
</html>